.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("./images/clean-closet-background.jpeg");
  position: relative;
  max-width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
  flex-grow: 1;
  min-height: 100%;
  max-width: 100vw;
}

h1, h2, h3, h4, footer {
  font-family: 'Philosopher', sans-serif;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2.5em;
  margin: 0 0 10px 0;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
  margin: 0;
}

p{
  margin: 0;
}

body, button, input {
  font-family: 'Montserrat', sans-serif;
}

/* Navbar/Header */
nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 10vh;
  position: absolute;
  top: 0;
  width: 100%;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
}

nav .color {
  opacity: .7;
  min-width: 100%;
  height: 10vh;
  background-color: gainsboro;
  position: absolute;
  top: 0;
}

.navlinks {
  display: flex;
  justify-content: space-between;
  width: 35vw;
  margin: auto 2em;
}

nav .home {
  margin: auto 1em;
  font-family: 'Philosopher', sans-serif;
  font-size: 1.8em;
}

a {
  text-decoration: none;
  color: black;
}


/* Footer */
footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .color {
  position: absolute;
  bottom: 0;
  opacity: .7;
  width: 100%;
  height: 10vh;
  background-color: gainsboro;
}

footer h4 {
  position: absolute;
  text-align: center;
  align-items: center;
  width: 100%;
  font-family: 'Philosopher', sans-serif;
}

/* Main containers */
main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

/* About page */
.about1, .about3 {
  position: relative;
  right: 15em;
}

.about2 {
  position: relative;
  left: 15em;
}

/* Shop-by page */
.shop-by-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  width: 100vw;
}

.shop-by1, .shop-by2 {
  position: absolute;
  width: 50vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: gainsboro;
  background-size: cover;
  background-repeat: no-repeat;
}

.shop-by1:hover, .shop-by2:hover {
  opacity: .8;
  transition: ease-in-out .3s;
}

.shop-by1 {
  background-image: url("./images/suede.jpg");
  left: 0;
}

.shop-by2 {
  background-image: url("./images/green.jpg");
  right: 0;
}

.shop-button {
  background: gainsboro;
  padding: .5em 2em;
  border-radius: 20px;
}

.shop-button:hover {
  background: darkslategray;
  color: gainsboro;
  transition: ease-in-out .2s;
}

/* Collections page */

.collection-container {
  width: 100vw;
  height: 8em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  text-align: center;
  border: .2px solid gray;
  box-sizing: border-box;
}

.shop-now {
  display: none;
  /* transition: display 2s; */
}

.collection-container:hover .collection-title {
  display: none;
}

.collection-container:hover .shop-now {
  display: block;
}

.collection-image {
  background-image: url('./images/londonfog.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -15em;
  height: 100%;
  width: 100%;
  opacity: .8;
}

.collection {
  position: absolute;
}

/* Single product page */
.single-product-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
}

.product-details {
  width: 15em;
  height: 25em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: .5px solid gray;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 0 20px 10px;
}

.product-details h3 {
  font-size: 1.5em;
}

/* Form */
.userform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.userform h3 {
  margin-top: 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 30vw;
}

input:not(:last-child) {
  height: 3em;
  border-radius: 20px;
  margin: 10px;
  padding: 0;
  padding-left: 15px;
  border: .5px solid gainsboro;
}

input:last-child {
  height: 3em;
  border-radius: 20px;
  margin: 10px;
  padding: 0;
  border: .5px solid gainsboro;
}

.register-link {
  color: darkslategray;
  font-weight: bold;
  text-decoration: underline;
}

/* All products page */
.product {
  width: 12em;
  height: 18em;
  box-sizing: border-box;
  margin: 20px;
}

.product-image-container {
  border: .5px solid gray;
  border-radius: 15px;
  height: 12em;
  margin-bottom: 15px;
}

.products-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
}