.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("clean-closet-background.jpeg");
  position: relative;
  min-height: 100vh
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
  flex-grow: 1;
  min-height: 100%;
}

h1, h2, h3, footer {
  font-family: 'Philosopher', sans-serif;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2.5em;
  margin: 0 0 10px 0;
}

h3 {
  font-size: 2em;
}

body, button, input {
  font-family: 'Montserrat', sans-serif;
}

/* Navbar/Header */
nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 10vh;
  position: absolute;
  top: 0;
  width: 100vw;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

nav .color {
  opacity: .7;
  width: 100vw;
  height: 10vh;
  background-color: gainsboro;
  position: absolute;
  top: 0;
}

.navlinks {
  display: flex;
  justify-content: space-between;
  width: 35vw;
  margin: auto 2em;
}

nav .home {
  margin: auto 1em;
  font-family: 'Philosopher', sans-serif;
  font-size: 1.8em;
}

a {
  text-decoration: none;
  color: black;
}


/* Footer */
footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .color {
  position: absolute;
  bottom: 0;
  opacity: .7;
  width: 100%;
  height: 10vh;
  background-color: gainsboro;
}

footer h4 {
  position: absolute;
  text-align: center;
  align-items: center;
  width: 100%;
  font-family: 'Philosopher', sans-serif;
}

/* Main containers */
main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

/* About page */
.about1, .about3 {
  position: relative;
  right: 15em;
}

.about2 {
  position: relative;
  left: 15em;
}

/* Shop-by page */
.shop-by-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  width: 100vw;
}

.shop-by-color1, .shop-by-color2 {
  position: absolute;
  width: 50%;
  height: 80vh;
  background-color: gainsboro;
  opacity: .7;
  background-size: cover;
  background-repeat: no-repeat;
}

.shop-by-color1 {
  background-image: url("./suede.jpg");
  left: 0;
}

.shop-by-color2 {
  background-image: url("./green.jpg");
  right: 0;
}

.shop-by1, .shop-by2 {
  position: absolute;
  width: 50vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shop-by1 {
  left: 0;
}

.shop-by2 {
  right: 0;
}

.shop-button {
  background: gainsboro;
  padding: .5em 2em;
  border-radius: 20px;
}

.shop-button:hover {
  background: gray;
}

/* Collections page */
.collections-container {
  padding-top: 0;
  justify-content: space-around;
}

.collection {
  width: 100vw;
  height: 8em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

/* Single product page */
.single-product-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100vw;
}

/* Form */
.userform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.userform h3 {
  margin-top: 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 30vw;
}

input:not(:last-child) {
  height: 3em;
  border-radius: 20px;
  margin: 10px;
  padding: 0;
  padding-left: 15px;
  border: .5px solid gainsboro;
}

input:last-child {
  height: 3em;
  border-radius: 20px;
  margin: 10px;
  padding: 0;
  border: .5px solid gainsboro;
}

.register-link {
  color: darkslategray;
  font-weight: bold;
  text-decoration: underline;
}